.form-control {
    display: block;
    width: 100%;
    position: relative;

    label,
    legend {
        display: block;
        width: 100%;
    }

    fieldset {
        .buttonreset;
    }

    input[type='text'],
    input[type='number'] {
        display: block;
        width: 100%;
        background-color: var(--form-field-bg);
        position: relative;
        color: var(--text);
        transition: border-color .33s ease,
            background-color .33s ease,
            color .33s ease;
        font: inherit;
        outline: none;
        border: 0px;
        border-radius: var(--border-radius);
        .fs(16px);
        .lh((40/16));
        resize: none;
        padding: 0 .5em;
    }

    &.width-half {
        width: calc(50% - var(--gutter)/1.5);
    }
}