@border: 2px solid var(--form-bordercolor);
@fs: 16px;

// all forms 
form:not(.custom) {
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: var(--form-bg);
    box-shadow: var(--box-shadow);
    border: @border;
    padding: (48/20em) (32/20em);
}

// form control default
.form-control {
    display: block;
    position: relative;
    width: 100%;

    &.dropdownactive[class] {
        z-index: 1777;

        input {
            border-color: var(--primary);
            z-index: 1200;
        }
    }
}

label {
    color: var(--heading);
    display: block;
    .fs(@fs);
}

select {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='512pt' viewBox='0 -93 512 512' width='512pt'%3E%3Cpath d='m441.667969 0-185.667969 185.667969-185.667969-185.667969-70.332031 70.332031 256 256 256-256zm0 0'/%3E%3C/svg%3E");
    background-position: right 0.75em center;
    background-repeat: no-repeat;
    background-size: (14/20em);
}

input:not([type='checkbox']):not([type='radio']):not(.numInput),
textarea,
select {
    display: block;
    width: 100%;
    box-shadow: var(--light-box-shadow);
    border-radius: var(--form-borderradius);
    background-color: var(--form-field);
    position: relative;
    color: var(--form-text);
    border: @border;
    transition: border-color .33s ease,
        background-color .33s ease,
        color .33s ease;
    font: inherit;
    outline: none;
    .fs(@fs);
    .lh((30/16));
    resize: none;
    padding: 0 .5em;

    &.error {
        border-color: var(--form-field-error);
        background-color: var(--form-field-error-bg);
        color: #4E4B66;
    }

    &:focus,
    &:active {
        border-color: var(--primary);
    }

    &:not([id]):disabled {
        cursor: not-allowed;
    }

    &::placeholder {
        color: var(--form-placeholder);
    }

    &.success {
        border-color: var(--form-field-success);
        background-color: var(--form-field-success-bg);
        color: #4E4B66;
    }

    &:focus,
    &:active {
        border-color: var(--primary);
    }
}