* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// default theme css vars
:root {
    // colors
    --primary: #ff3e00;
    --secondary: #f96743;

    // text
    --heading: #4a4a55;
    --text: #4a4a55;

    // shadows
    --box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

    // section backgrounds
    --bg: #fff;
    --bg-alternate: #f0f0f0;

    // header
    --mainnav-bg: #fff;
    --mainnav-link: var(--primary);
    --mainnav-linkbg: var(--primary-light);

    // padding
    --padding-sm: 3em 0;
    --padding-lg: 5em 0;

    // border
    --border-radius: 0px;
    --border-color: #b6c0cd;

    // forms
    --form-field-bg: #f4f4f4;
    --form-field-success: #33C27F;
    --form-field-success-bg: #e7f2ed;
    --form-field-error: #d62828;
    --form-field-error-bg: #ffdfdf;

    --gutter: unit((15/20), em);

    --mainnav-height: 50px;

    // panels
    --panel-width: 352px;
    --pos-offset: 10px;
    --gap: 2px;
    --min-tap: 44px;
    --panel-height: calc(100vh - var(--mainnav-height) - var(--pos-offset)*2);
}

// Dark theme css vars
html[data-theme='dark'] {
    --link: #8ead85;
    // colors
    --primary: #9b501c;
    // text
    --heading: #fff;
    --text: #fff;
    // shadows
    --box-shadow: none;
    // section backgrounds
    --bg: #25262c;
    --bg-alternate: #000;
    // header
    --mainnav-bg: #222;
    --mainnav-link: #fff;
    --mainnav-linkbg: #404040;
    // forms
    --form-field-bg: #282828;
    --form-field-text: #fff;
}

html {
    overflow-y: scroll;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
    display: block;
    position: relative;
    color: var(--text);
    background-color: var(--bg-alternate);
    background-image: radial-gradient(#3a3a3a .75px, #14141400 .75px);
    background-size: 15px 15px;
    background-position: center;

    @media (min-width: 1300px) {
        font-size: 20px;
        background-attachment: fixed;
    }

    @media (min-width: 2000px) {
        font-size: 1vw;
    }
}

/* ===============================================
	h family || hfam 
=============================================== */
@h2fs: 18;
@h3fs: 17;
@h4fs: 16;
@h5fs: 15;
@h6fs: 14;

h1,
h2:not(.title),
h3:not(.title),
h4,
h5,
h6 {
    line-height: 1;
    color: var(--heading);
    text-rendering: auto;
    text-transform: capitalize;
    .bold;
}

h1 {
    font-size: unit((23/20), em);
}

h2:not(.title) {
    font-size: unit((@h2fs/20), em);
}

h3:not(.title) {
    font-size: unit((@h3fs/20), em);
}

h3.title {
    margin-bottom: 1em;
}

h4 {
    font-size: unit((@h4fs/20), em);
}

h5 {
    font-size: unit((@h5fs/20), em);
}

h6 {
    font-size: unit((@h6fs/20), em);
}

.icon {
    width: 100%;
    height: auto;
    .ib;
}

.info {
    .fs(16px);
}

/* ===============================================
	.screenreader 
	a11y support for descriptive text on vaguely worded buttons
	https://gomakethings.com/hidden-content-for-better-a11y/#hidden-labels
=============================================== */
.screenreader {
    white-space: nowrap;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

iframe#preview {
    display: block;
    border: 0;
    background: none;
    width: 100%;
}

#modal {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: fade(#000, 80%);
    outline: none;
    .flex;
    .jc(center);
    .ai(center);

    .modal-backdrop {
        .overlay;
        z-index: 9000;
    }

    .modal:not(.custom) {
        position: relative;
        display: block;
        z-index: 9992;
        width: 90%;
        max-width: (600/20em);
        background-color: var(--bg);
        overflow: auto;
        text-align: center;

        p {
            margin: 0;
        }
    }

    #close-modal {
        z-index: 9999;
        position: fixed;
        width: 50px;
        height: 50px;
        .flex;
        .jc(center);
        .ai(center);
        right: 0;
        top: 0;
        line-height: 0;
        cursor: pointer;
        padding: 0;
        border: 0;
        background: none;
        -webkit-appearance: none;
        // outline: none;

        svg {
            width: 25px;
            height: 25px;
        }
    }
}

.btn {
    @fs: 16;
    @lh: 42;
    @ls: 0;
    @height: 0;
    @width: 170;
    @br: 0;

    .ib;
    .va(top);
    text-align: center;
    font: inherit;
    .fs(16px);
    border: 0;
    color: var(--text);
    background: none;
    white-space: nowrap;
    .roman;
    .lh((@lh / @fs));
    .bc(var(--primary));
    padding: 0 (20/20em);
    border: 1px solid var(--primary);
    transition: background-color .33s ease, border-color .33s ease, color .33s ease;
    text-transform: capitalize;

    &:disabled {
        cursor: not-allowed;
        background-color: var(--border-color);

        &:hover {}
    }

    &:hover,
    &.active {
        background-color: var(--border-color)
    }

    &.error {
        background-color: var(--form-field-error-bg);
        border-color: var(--form-field-error);
        color: #212121
    }

    &.success {
        background-color: var(--form-field-success-bg);
        border-color: var(--form-field-success);
        color: #212121
    }

    &.editing {
        background-color: var(--form-field-success-bg);
        border-color: var(--form-field-success);
        color: #212121
    }
}