* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// default theme css vars
:root {
    // colors
    --primary: #606c38;
    --primary-light: #f9f3f3;
    --secondary: #a3b18a;

    // text
    --heading: #353a44;
    --text: #353a44;

    // shadows
    --box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

    // section backgrounds
    --bg: #fff;
    --bg-alternate: #FAF8F7;

    // header
    --mainnav-bg: #fff;
    --mainnav-link: var(--primary);
    --mainnav-linkbg: var(--primary-light);

    // padding
    --padding-sm: 3em 0;
    --padding-lg: 5em 0;

    // border
    --border-radius: 5px;
    --border-color: #b6c0cd;

    // forms
    --form-field-bg: #f4f4f4;
    --form-field-success: #33C27F;
    --form-field-success-bg: #e7f2ed;
    --form-field-error: #d62828;
    --form-field-error-bg: #ffdfdf;

    --mainnav-height: 50px;
    --panel-width: unit((300/20), em);
}

html {
    overflow-y: scroll;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
    display: block;
    position: relative;
    color: var(--text);
    background-color: var(--bg-alternate);
    background-image: radial-gradient(#3a3a3a .75px, #14141400 .75px);
    background-size: 15px 15px;
    background-position: center;

    @media (min-width: 1300px) {
        font-size: 20px;
        background-attachment: fixed;
    }

    @media (min-width: 2000px) {
        font-size: 1vw;
    }
}

/* ===============================================
	h family || hfam 
=============================================== */
@h2fs: 22;
@h3fs: 20;
@h4fs: 19;
@h5fs: 18;
@h6fs: 17;

h1,
h2:not(.title),
h3:not(.title),
h4,
h5,
h6 {
    line-height: 1;
    color: var(--heading);
    text-rendering: auto;
    text-transform: capitalize;
    .bold;
}

h1 {
    font-size: unit((23/20), em);
}

h2:not(.title) {
    font-size: unit((@h2fs/20), em);
}

h3:not(.title) {
    font-size: unit((@h3fs/20), em);
    color: var(--primary);
}

h3.title {
    margin-bottom: 1em;
}

h4 {
    font-size: unit((@h4fs/20), em);
}

h5 {
    font-size: unit((@h5fs/20), em);
}

h6 {
    font-size: unit((@h6fs/20), em);
}


/* ===============================================
	.screenreader 
	a11y support for descriptive text on vaguely worded buttons
	https://gomakethings.com/hidden-content-for-better-a11y/#hidden-labels
=============================================== */
.screenreader {
    white-space: nowrap;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.radio-button-group {
    .flex;
    .jc(flex-start);
    .ai(center);
    flex-wrap: wrap;
    gap: 10px;

    .radio-button {
        display: block;
        position: relative;
    }

    input {
        display: none;

        &:checked+label,
        &:hover+label {
            background-color: var(--primary);
            color: #fff;
        }
    }

    .radio-button-icon {
        .ib;
        width: 44px;
        height: 44px;
        background-color: var(--primary);
    }
}

.form-control {
    display: block;

    input[type='text'] {
        display: block;
    }
}

section#main-view {
    .flex;
    gap: 1em;
}

.accordion-block,
.accordion-item {
    margin-bottom: 1em;
}

.iframe-container {
    width: 100%;
    position: relative;
    background-color: var(--bg);
    border: 1px solid var(--border-color);
    border-bottom: 0px;
    min-height: 100vh;
    .flex;

    @media only screen and (min-width:1024px) {
        min-height: calc(100vh - var(--mainnav-height) - 1em);
        height: 100%;
        width: 100%;
        max-width: calc(calc(100% - 2em) - var(--panel-width)*2);
        margin: 0 auto;
        margin-top: calc(var(--mainnav-height) + 1em);
    }
}

iframe#preview {
    display: block;
    border: 0;
    background: none;
    width: 100%;
}