section#main-view {
    .flex;
    .jc(center);
    .ai(stretch);
    gap: var(--pos-offset);
    width: 100%;
    --pos-offset: .5em;
    --panel-inline-padding: unit((15/20), em);
    --gap: 2px;
    --min-tap: 44px;
    --panel-height: calc(100vh - var(--mainnav-height) - var(--pos-offset)*2);

    @media only screen and (min-width:1024px) {
        width: calc(100% - var(--pos-offset)*2);
        left: var(--pos-offset);
        position: fixed;
        top: calc(var(--mainnav-height) + var(--pos-offset));
    }
}

.iframe-container {
    .flex;
    width: 100%;
    position: relative;
    background-color: var(--bg);
    border: 1px solid var(--border-color);
    // for scroll/resizing
    overflow: hidden;

    @media only screen and (min-width:1024px) {
        height: var(--panel-height);
    }
}

#tabpanel {
    .flex;
    .fdir(column);
    width: 100%;
    max-width: var(--panel-width);
    height: 100%;
    z-index: 1;
    overflow: hidden;
    .bc(var(--bg));
    border: 1px solid var(--border-color);
    position: relative;

    .panel-tabs {
        display: flex;
        .bc(var(--bg-alternate));
        box-shadow: var(--box-shadow);

        button {
            font: inherit;
            .fs(16px);
            padding: 0;
            margin: 0;
            border: 0px;
            border-radius: 0px;
            background: none;
            width: 100%;
            .lh(var(--min-tap));
            .upp;
            position: relative;
            z-index: 1;

            &::before {
                content: '';
                .overlay;
                .bc(var(--bg));
                z-index: -1;
                transition: transform .33s ease;
                transform: scaleX(0);
            }

            &:nth-child(1) {
                &::before {
                    transform-origin: right;
                }
            }

            &:nth-child(2) {
                &::before {
                    transform-origin: left;
                }
            }

            &:hover,
            &:focus,
            &.active {
                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }

    .panel {
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        box-shadow: var(--box-shadow);
        overflow: hidden scroll;

        @media only screen and (min-width:1024px) {
            height: calc(var(--panel-height) - var(--min-tap));
        }
    }
}

.panel-group {
    display: block;
    border-bottom: 1px solid var(--border-color);
}

.panel-group-content {
    .flex;
    flex-wrap: wrap;
    gap: var(--panel-inline-padding);
    padding: var(--panel-inline-padding);
    padding-top: 0px;
}

h2.panel-group-tab {
    display: block;
    width: 100%;
    transition: color .33s ease;

    button {
        .flex;
        .jc(space-between);
        .ai(center);
        font: inherit;
        .lh(44px);
        margin: 0;
        padding: 0 var(--panel-inline-padding);
        background: none;
        border: 0px;
        border-radius: 0px;
        width: 100%;
        text-align: left;
        color: currentColor;

        .icon,
        &>svg {
            width: 24px;
            height: auto;
            .ib;
            transition: transform .33s ease;
        }

        &.no-icon {
            .jc(flex-start);

            .icon,
            &>svg {
                .hide;
            }
        }
    }

    &:hover,
    &.active {
        color: var(--primary);

        .icon,
        svg {
            transform: rotate(-180deg);
        }
    }
}

// spacing widget
.spacing-tabs .tab-buttons {
    display: flex;
    background-color: var(--bg-alternate);

    button {
        font: inherit;
        .fs(16px);
        padding: 0;
        margin: 0;
        border: 0px;
        border-radius: 0px;
        background: none;
        width: 100%;
        .lh(var(--min-tap));
        .upp;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            .overlay;
            .bc(var(--bg));
            z-index: -1;
            transition: transform .33s ease;
            transform: scaleX(0);
        }

        &:nth-child(1) {
            &::before {
                transform-origin: right;
            }
        }

        &:nth-child(2) {
            &::before {
                transform-origin: left;
            }
        }

        &:hover,
        &:focus,
        &.active {
            &::before {
                transform: scaleX(1);
            }
        }
    }
}