section#main-view {
    .flex;
    .jc(center);
    .ai(stretch);
    width: 100%;
    height: calc(100vh - var(--mainnav-height) - var(--gutter));
    // want to keep static pos for mobile nav
    width: calc(100% - var(--pos-offset)*2);
    margin: var(--gutter) auto 0;

    @media only screen and (min-width:1024px) {
        margin: 0;
        gap: var(--pos-offset);
        left: var(--pos-offset);
        position: fixed;
        top: calc(var(--mainnav-height) + var(--pos-offset));
    }
}

.iframe-container {
    .flex;
    width: 100%;
    position: relative;
    background-color: var(--bg);
    border: 1px solid var(--border-color);
    // for scroll/resizing
    overflow: hidden;

    @media only screen and (min-width:1024px) {
        height: var(--panel-height);
    }
}

#tabpanel {
    .flex;
    .fdir(column);
    width: 100%;
    max-width: var(--panel-width);
    height: var(--panel-height);
    z-index: 1;
    overflow: hidden;
    .bc(var(--bg));
    border: 1px solid var(--border-color);
    position: relative;
    transition: transform .33s ease, opacity .33s ease;

    @media only screen and (max-width:1023px) {
        position: absolute;
        top: calc(var(--mainnav-height));
        right: 0;
        height: calc(100vh - var(--mainnav-height));
        min-height: calc(100vh - var(--mainnav-height));
        z-index: 777;
        transform: translateX(100%);
        opacity: 0;

        &.mobile-show {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .panel-tabs {
        display: flex;
        .bc(var(--bg-alternate));
        box-shadow: var(--box-shadow);

        button {
            font: inherit;
            .fs(16px);
            padding: 0;
            margin: 0;
            border: 0px;
            border-radius: 0px;
            background: none;
            width: 100%;
            .lh(var(--min-tap));
            .upp;
            position: relative;
            z-index: 1;
            color: var(--heading);

            &::before {
                content: '';
                .overlay;
                .bc(var(--bg));
                z-index: -1;
                transition: transform .33s ease;
                transform: scaleX(0);
            }

            &:nth-child(1) {
                &::before {
                    transform-origin: right;
                }
            }

            &:nth-child(2) {
                &::before {
                    transform-origin: left;
                }
            }

            &:hover,
            &:focus,
            &.active {
                &::before {
                    transform: scaleX(1);
                }
            }
        }
    }

    .panel {
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        box-shadow: var(--box-shadow);
        overflow: hidden scroll;

        @media only screen and (min-width:1024px) {
            height: calc(var(--panel-height) - var(--min-tap));
        }
    }
}

.panel-group {
    display: block;
    border-bottom: 1px solid var(--border-color);
}

.panel-group-content {
    .flex;
    flex-wrap: wrap;
    gap: var(--gutter);
    padding: var(--gutter);
    padding-top: 0px;
}

h2.panel-group-tab {
    display: block;
    width: 100%;
    transition: color .33s ease;

    button {
        .flex;
        .jc(space-between);
        .ai(center);
        font: inherit;
        .lh(44px);
        margin: 0;
        padding: 0 var(--gutter);
        background: none;
        border: 0px;
        border-radius: 0px;
        width: 100%;
        text-align: left;
        color: currentColor;

        .icon,
        &>svg {
            width: 24px;
            height: auto;
            .ib;
            transition: transform .33s ease;
        }

        &.no-icon {
            .jc(flex-start);

            .icon,
            &>svg {
                .hide;
            }
        }
    }

    &:hover,
    &.active {
        color: var(--primary);

        .icon,
        svg {
            transform: rotate(-180deg);
        }
    }
}